* {
  font-family: "Dongle";
}

a {
  text-decoration: none;
}

/* html, body {
  height: 100vh;
} */


/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logo {
  font-size: 47px;
  font-weight: bolder;
  color: #fdb833;
  margin: 0px;
}

.nav-comingsoon {
  font-size: 23px;
  font-weight: bold;
  color: rgb(185, 185, 185);
  cursor: pointer;
}

/* MAIN */

.main {
  align-items: center;
}

.main a {
  text-decoration: none;
}

.main-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
}

.main-title h2 {
  font-size: 70px;
  margin-bottom: 7px;
  cursor: default;
  max-width: 600px;
  line-height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN, START BUTTON */

.start-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;

  background-color: #fdcd5e;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  color: white;
  font-size: 33px;
  font-weight: 700;

  width: 300px;
  height: 55px;
  border-radius: 10px;
}
.start-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0px 0px;
}

/* REVIEWS */
.reviews {
  margin-top: 200px;
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  justify-content: center;
}

.review {
  width: 230px;
  line-height: 22px;
}

.stars {
  color: rgb(255, 217, 0);
  font-size: 40px;
  text-align: center;
}

.review-text {
  text-align: center;
  font-family: sans-serif !important;
  color: grey;
}

.review-person {
  text-align: center;
  font-family: sans-serif !important;
  color: rgb(179, 179, 179);
  margin-top: 10px;
}

.secondary-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  max-width: 400px;
  margin-bottom: 100px;
}

.secondary-title h3 {
  font-size: 60px;
  margin-bottom: 7px;
  cursor: default;
  max-width: 600px;
  line-height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fdb833;
}

.secondary-text {
  text-align: center;
  font-family: sans-serif !important;
  color: grey;
  line-height: 30px;
}

/* QUIZ CARD*/

.quiz-card {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.quiz-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
  height: 60px;
}

.quiz-top svg {
  margin-top: 10px;
}

.question-no {
  font-size: 40px;
  margin-right: 10px;
}

/* QUIZ CARD, PROGRESS BAR */

.progress-bar-container {
  max-width: 800px;
  /* background-color: #fff75e; */
  border: 2px solid #fdb833;
  border-radius: 20px;
  flex-grow: 1;
  min-width: 200px;
  height: 20px;

}

.progress-bar {
  background-color: #fdb833;
  height: 20px;
  border-radius: 20px;
  max-width: 0%;
  left: 0;
  transition: .5s;
}


/* QUIZ CARD, QUIZ */

.quiz {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
}

.question-answer {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.question-header {
  font-size: 50px;
  margin: 20px auto;
  line-height: 40px;
  max-width: 614px;
  padding: 0px 10px;
}

.option {
  font-size: 30px;
  border: 2px solid #fdb833;
  max-width: 600px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-bottom: 10px;
  line-height: 30px;
  box-shadow: 0px 2px #fdb833;
}

.option:hover {
  background-color: #fff75e5f;
  cursor: pointer;
}

.option.selected {
  background-color: #fdc43f;
  border: 3px solid #fdb833;
}

/* QUIZ CARD, QUIZ BUTTONS */

.quiz-buttons {
  display: flex;
  height: 100px;
  width: 100%;
  border-top: 2px solid #838383;
  justify-content: center;
  gap: 0;
  padding: 10px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
}

.back-btn {
  display: none;
  margin-right: auto;
  margin-top: 17px;

  width: 130px;
  height: 40px;
  border-radius: 10px;
}

.back-btn:hover {
  cursor: pointer;
}

.next-btn {
  margin-left: auto;
  margin-top: 17px;
  margin-right: 20px;

  background-color: #fdcd5e;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  color: white;
  font-size: 37px;
  font-weight: 700;

  width: 175px;
  height: 55px;
  border-radius: 20px;
}

.next-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0px 0px;
}

.next-btn.disabled {
  pointer-events: none;
  opacity: 40%;
}

.next-btn.disabled:hover {
  pointer-events: none;
  opacity: 40%;
}

/* RESULTS CARD */

.results-card {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-card.active {
  display: initial;
}

.results {
  margin-top: 100px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.results-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cat-pic-container {
  /* border: 1px solid black; */
  width: 230px;
  height: 230px;
  border-radius: 10px;
  margin-left: 20px;
}

.cat-pic {
  object-fit: cover;
  align-items: center;
  max-width: 230px;
  height: 230px;
  border-radius: 10px;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
}

.title-header {
  margin: 10px 0px 0px 20px;
}

.cat-reveal-title {
  font-size: 45px;
  margin: 2px 2px 2px 2px;
  line-height: 30px;
}

.cat-name {
  font-size: 90px;
  line-height: 0.7;
  margin: 3px 3px 3px 3px;
  color: #fdb833;
}

.cat-description {
  font-size: 35px;
  margin-bottom: 0px;
  line-height: 30px;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  border-radius: 10px;
  padding: 4px;
  margin: 10px 20px 0px;
}

/* RESULTS CARD, BUTTONS */

.results-buttons{
  display: flex;
  height: 100px;
  width: 100%;
  border-top: 2px solid #838383;
  justify-content: center;
  align-items: center;

  gap: 0;
  padding: 10px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
}

.restart-a {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: end;
  padding-right: 20px;
}

.restart-btn {

  background-color: #fdcd5e;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  color: white;
  font-size: 37px;
  font-weight: 700;

  width: 175px;
  height: 55px;
  border-radius: 20px;
  }
  
  .restart-btn:hover {
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 0px 0px;
  }

  /* METHODS */

  .method-title {
    font-size: 70px;
    margin-bottom: 7px;
    cursor: default;
    max-width: 600px;
    line-height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .methods {
    display: flex;
    gap: 20px;
    justify-content: center;
    
  }

  .method.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  
  .method {
    width: 300px;
    height: 400px;
    background-color: #ffda3d;
    border-radius: 10px;
    border: 3px solid #fdb833;
  }

  .method-image {
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .method-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;

  background-color: #fdcd5e;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  color: white;
  font-size: 33px;
  font-weight: 700;

  width: 250px;
  height: 55px;
  border-radius: 10px;
  }

  .method-button:hover {
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 0px 0px;
  }

  .method-nav {
    max-width: 100% !important;
    margin: 0px;
  }

  .method-nav.logo {
    margin-left: 20px !important;
  }

/* MEDIA QUERIES */
  @media screen and (max-width: 900px){
    .main-title {
      margin-top: 100px;
    }
    .method-title {
      font-size: 50px;
      line-height: 40px;
    }
    .reviews {
      flex-wrap: wrap;
    }
    .methods {
      flex-wrap: wrap;
    }
    .method {
      height: 193px;
    }
    .method-image {
      height: 100px;
    }
    .question-answer {
      display: inline;
    }
    .next-btn {
      width: 600px;
      justify-content: center;
      margin: 0px;
    }
    .option {
      height: 60px;
    }
    .question-header {
      height: 120px;
    }
    .quiz-top {
      margin-top: 0px;
    }
    .restart-btn {
      width: 90%;
    }
    .restart-a {
      justify-content: center;
    }
  }

  @media only screen and (max-width: 675px) {
    .main-title {
      margin-top: 50px;
    }
    .main-title h2{
      font-size: 50px;
      line-height: 40px;
    }
    .start-btn{
      
      height: 60px;
      line-height: 0.8;
    }


    .reviews {
      margin-top: 100px;
    }
    .quiz-info-card h2{
      margin-top: 0px;
    }
    .info ul{
      padding: 0px 20px 0px 20px;
    }
    .nostart-btn{
      width: 150px;
      margin-left: 10px;
    }
    .start-quiz-btn{
      width:150px;
      margin-right: 10px;
    }
    .quiz{
      margin-top: 0px;
    }
    .progress-bar-container {
      /* margin: 10px 5px 0px; */
    }
    .options{
      padding: 0px 10px;
    }
    .back-btn{
      width: 150px;
      margin-left: 10px;
    }
    .next-btn{
      width: 90%;
      
      
    }
    
  }

  @media only screen and (max-width: 550px) {
    .results {
      margin-top: 10px;
    }
    .results-header{
      flex-direction: column;
      margin-bottom: 10px;
    }
    .cat-pic-container{
      margin: 0px;
    }
    .title-header{
      margin-top: 20px;
      align-self: flex-start;
    }
    .cat-reveal-title {
      font-size: 40px;
    }
    .cat-name {
      font-size: 60px;
    }
    .cat-description{
      /* padding: 0px 20px; */
      margin-top: 0px;
      font-size: 25px;
      line-height: 20px;
      margin-bottom: 35%;
    }
    .restart-btn{
      width:150px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
    .restart-btn {
      width: 90%;
    }
    .restart-a {
      justify-content: center;
      padding: 0px;
    }
    .results-buttons {
      position: static;
    }
  }