*{
    font-family: Inter;
}


/* MAIN */

.main-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    text-align: center;
    
}

.main-title h2{
    font-size: 35px;
    margin-bottom: 7px;
}

.main-title-second{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.main-title-second h1{
    font-size: 70px;
}

.main-title-second h3{
    font-size: 90px;
    transform: rotate(20deg);
    margin-left: 7px;
}

/* MAIN, START BUTTON */

.start-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    
    width: 130px;
    height: 40px;
    border-radius: 10px;
}
.start-btn:hover{
    cursor: pointer;
}

/* QUIZ INFO CARD */

.quiz-info-card{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quiz-info-card.active{
    display: initial;
}

.quiz-info-card h2{
    margin-top: 200px;
    text-align: center;
}

/* QUIZ INFO CARD, INFO */

.info{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.info li{
    list-style: none;
}

/* QUIZ INFO CARD, BUTTONS */

.info-buttons{
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.nostart-btn{
    display: block;
    margin-right: auto;
    margin-top: 17px;
    
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

.nostart-btn:hover{
    cursor: pointer;
}

.start-quiz-btn{
    display: block;
    margin-left: auto;
    margin-top: 17px;
    
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

.start-quiz-btn:hover{
    cursor: pointer;
}

/* QUIZ CARD*/

.quiz-card{
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quiz-card.active{
    display: initial;
}

/* QUIZ CARD, QUIZ */

.quiz{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.question-header{
    margin-top: 200px;
    text-align: center;
}

.option{
    border: 1px solid grey;
    width: 600px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.option:hover{
    background-color: rgb(172, 172, 172);
    cursor: pointer;
}

.option.selected{
    background-color: rgba(0, 132, 255, 0.446);
}

/* QUIZ CARD, QUIZ BUTTONS */

.quiz-buttons{
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.back-btn{
    display: block;
    margin-right: auto;
    margin-top: 17px;
    
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

.back-btn:hover{
    cursor: pointer;
}

.next-btn{
    display: block;
    margin-left: auto;
    margin-top: 17px;
    
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

.next-btn:hover{
    cursor: pointer;
    background-color: rgb(172, 172, 172);
}

.next-btn.disabled{
    cursor: default;
    opacity: 20%;
    
}

/* RESULTS CARD */

.results-card{
    display: none;
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.results-card.active{
    display: initial;
}

.results{
    margin-top: 150px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.results-header{
    display: flex;
    
}

.cat-pic-container{
    border: 1px solid black;
    width: 175px;
    height: 175px;
    border-radius: 10px;
}

.cat-pic{
    
    width: 200px;
    height: 200px;
}

.cat-name{
    font-size: 50px;
    margin-left: 10px;
}