* {
  font-family: "Dongle";
}

/* MAIN */

.main-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  text-align: center;
}

.main-title h2 {
  font-size: 70px;
  margin-bottom: 7px;
  cursor: default;
}

.main-title-second {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.main-title-second h1 {
  font-size: 130px;
  cursor: default;
}

.main-title-second h3 {
  font-size: 110px;
  transform: rotate(20deg);
  margin-left: 7px;
  cursor: default;
}

/* MAIN, START BUTTON */

.start-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;

  background-color: #fdcd5e;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  color: white;
  font-size: 37px;
  font-weight: 700;

  width: 175px;
  height: 55px;
  border-radius: 10px;
}
.start-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0px 0px;
}

/* QUIZ INFO CARD */

.quiz-info-card {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quiz-info-card.active {
  display: initial;
}

.quiz-info-card h2 {
  margin-top: 200px;
  text-align: center;
}

/* QUIZ INFO CARD, INFO CONTAINER */

.info-container {
  margin-left: auto;
  margin-right: auto;

  max-width: 630px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.info-container h2 {
  font-size: 50px;
  line-height: 0.7;
  padding-top: 25px;
}

/* QUIZ INFO CARD, INFO */

.info {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.info li {
  list-style: none;
  line-height: 0.7;
  font-size: 30px;
}

/* QUIZ INFO CARD, BUTTONS */

.info-buttons {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.nostart-btn {
  margin-right: auto;
  margin-top: 17px;

  background-color: #fdcd5e;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  color: white;
  font-size: 37px;
  font-weight: 700;

  width: 175px;
  height: 55px;
  border-radius: 10px;
}

.nostart-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0px 0px;
}

.start-quiz-btn {
  margin-left: auto;
  margin-top: 17px;

  background-color: #fdcd5e;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  color: white;
  font-size: 37px;
  font-weight: 700;

  width: 175px;
  height: 55px;
  border-radius: 10px;
}

.start-quiz-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0px 0px;
}

/* QUIZ CARD*/

.quiz-card {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quiz-card.active {
  display: initial;
}

/* QUIZ CARD, PROGRESS BAR */

.progress-bar-container {
  margin: 170px auto 0px;
  max-width: 614px;
}

.progress-bar {
  background-color: #fdb833;
  height: 20px;
  border-radius: 20px;
  max-width: 0%;
  left: 0;
  transition: .5s;
}

/* QUIZ CARD, QUIZ */

.quiz {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.question-header {
  font-size: 50px;
  margin: 20px auto;
  line-height: 40px;
  max-width: 614px;
  padding: 0px 10px;
}

.option {
  font-size: 30px;
  border: 2px solid grey;
  max-width: 600px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-bottom: 10px;
  line-height: 30px;
}

.option:hover {
  background-color: #fff75e5f;
  cursor: pointer;
}

.option.selected {
  background-color: #fdc43f;
  border: 3px solid #fdb833;
}

/* QUIZ CARD, QUIZ BUTTONS */

.quiz-buttons {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.back-btn {
  display: none;
  margin-right: auto;
  margin-top: 17px;

  width: 130px;
  height: 40px;
  border-radius: 10px;
}

.back-btn:hover {
  cursor: pointer;
}

.next-btn {
  margin-left: auto;
  margin-top: 17px;

  background-color: #fdcd5e;
  border: 3px solid #fdb833;
  box-shadow: 0px 5px #fdb833;
  color: white;
  font-size: 37px;
  font-weight: 700;

  width: 175px;
  height: 55px;
  border-radius: 10px;
}

.next-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0px 0px;
}

.next-btn.disabled {
  cursor: default;
  opacity: 20%;
}

.next-btn.disabled:hover {
  cursor: default;
  opacity: 20%;
}

/* RESULTS CARD */

.results-card {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-card.active {
  display: initial;
}

.results {
  margin-top: 100px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.results-header {
  display: flex;
}

.cat-pic-container {
  /* border: 1px solid black; */
  width: 230px;
  height: 230px;
  border-radius: 10px;
}

.cat-pic {
  object-fit: cover;
  align-items: center;
  max-width: 230px;
  height: 230px;
  border-radius: 10px;
}

.cat-reveal-title {
  font-size: 45px;
  margin: 2px 2px 2px 30px;
}

.cat-name {
  font-size: 90px;
  line-height: 0.7;
  margin: 3px 3px 3px 30px;
}

.cat-description {
  font-size: 35px;
  margin-bottom: 0px;
}

/* RESULTS CARD, BUTTONS */

.results-buttons{
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.restart-btn {
    margin-left: auto;
    margin-top: 17px;
  
    background-color: #fdcd5e;
    border: 3px solid #fdb833;
    box-shadow: 0px 5px #fdb833;
    color: white;
    font-size: 37px;
    font-weight: 700;
  
    width: 175px;
    height: 55px;
    border-radius: 10px;
  }
  
  .restart-btn:hover {
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 0px 0px;
  }

/* MEDIA QUERIES */

  @media only screen and (max-width: 675px) {
    .main-title h2{
      font-size: 50px;
      line-height: 0.5;
    }
    .main-title-second h1 {
      font-size: 80px;
      cursor: default;
      line-height: 0.5;
    }
    .main-title-second h3 {
      font-size: 110px;
      transform: rotate(20deg);
      margin-left: 7px;
      cursor: default;
    }
    .start-btn{
      width:150px;
      height: 60px;
      line-height: 0.8;
    }
    .quiz-info-card h2{
      margin-top: 0px;
    }
    .info ul{
      padding: 0px 20px 0px 20px;
    }
    .nostart-btn{
      width: 150px;
      margin-left: 10px;
    }
    .start-quiz-btn{
      width:150px;
      margin-right: 10px;
    }
    .quiz{
      margin-top: 0px;
    }
    .progress-bar-container {
      margin: 10px 5px 0px;
    }
    .options{
      padding: 0px 10px;
    }
    .back-btn{
      width: 150px;
      margin-left: 10px;
    }
    .next-btn{
      width: 150px;
      margin-right: 10px;
      
    }
    .results {
      margin-top: 10px;
    }
    .results-header{
      display: inline;
    }
    .cat-pic-container{
      margin-left: auto;
      margin-right: auto;
    }
    .title-header{
      margin-left: auto;
      margin-right: auto;
    }
    .cat-description{
      padding: 0px 10px;
    }
    .restart-btn{
      width:150px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }