*{
    font-family: Inter;
    scroll-behavior: smooth;
}

body {
    font-family: Inter;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
    
}

h3 {
    
}

main {
    min-height: 100vh;
    
    transition: .3s ease;
    pointer-events: auto;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content {
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.home-content h1 {
    font-size: 100px;
    font-weight: 700;
    margin: auto;
}

.home-content h3 {
    font-size: 40px;
    font-weight: 700;
    margin: auto;
    float: left;
    line-height: 0.1;
}



.home-content .click-me {
    padding-left: 400px;
    
}

.home-content .start-button {
    font-weight: 600;
    font-size: 23px;
    width: 190px;
    height: 70px;
    background: white;
    border-radius: 70px;
    border: 1px none rgba(85, 85, 85, 0.5);
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home-content .cat-face {
    position: absolute;
    z-index: 10;
    padding-top: 2px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    /* rotate: 7deg; */
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.home-content .cat-face-two {
    padding-top: 2px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    /* rotate: 7deg; */
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.home-content .start-button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    transition: .5s;
    .cat-face { display: none;};
}

/* POP UP INFO */

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 600px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
 
.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.popup-info h2 {
    font-size: 50px;
    text-align: center;
}

.info-group {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
}

.popup-info .info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-weight: 500;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: white;
    border-radius: 45px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.13);
    transition: .5s;
    color: black;
}

.exit-btn{
    border: none;
}

.exit-btn:hover {
    background: none;
    
}

.continue-btn:hover {
    transform: translatey(-5px);
    background: rgba(138, 189, 255, 0.479);
    transition: .5s;
}

/* QUIZ SECTION  */

.quiz-section {
    position: relative;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}

.quiz-section.active {
    opacity: 1;
    pointer-events: auto;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: white;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transition: .1s;
    
}

.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 25px;
}

.quiz-box span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score {
    background: white;
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}
.option-list .option:hover {
    background-color: rgba(138, 189, 255, 0.479);
}

.option-list .option.selected {
    background-color: rgba(138, 189, 255, 0.87);;
    transition: .3s;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-top: 15px;
}

.quiz-footer .question-total {
    font-weight: 400;
}

.quiz-footer .next-btn {
    background: white;
    border-radius: 45px;
    height: 45px;
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    transition: .5s;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.quiz-footer .next-btn:hover {
    transform: translatey(-5px);
    background: rgba(138, 189, 255, 0.479);
    transition: .5s;
}

/* RESULTS */

/* .popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 600px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
} */

.results-section {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}

.results-section.active {
    opacity: 1;
    pointer-events: auto;
}

.results-box {
    position: absolute;
    height: 230px;
    width: 500px;
    background: white;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    text-align: center;
}

.results-box h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.results-box p {
    font-size: 20px;
    margin-bottom: 30px;
}

.results-box .restart-btn {
    width: 150px;
    height: 45px;
    background: rgb(234, 212, 255);
    border: 2px solid;
    border-radius: 45px;
    color: #999;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
}

.results-box .restart-btn:hover {
    transform: translatey(-5px);
    box-shadow: 0px 6px black;
}
